# Dépendances existantes
Flask
Flask-Cors
Flask-JWT-Extended
openai
anthropic
yfinance
pandas
numpy
scipy
reportlab
PyPDF2
plotly
nltk
bcrypt
requests
matplotlib
gunicorn
python-dotenv
pydantic
typing
kaleido
tqdm
groq
deepl

# Forcer l'installation de scikit-learn via un wheel précompilé si disponible
scikit-learn

# Nouvelles dépendances pour l'analyse de sentiment avancée
transformers
torch
spacy
yake

# Assurez-vous que Cython est à jour
Cython

# Spécifiez la version du modèle spaCy à utiliser
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl